body {
  margin: 0;
  font-family:'Roboto', Arial !important;
  background-color: #D5D4D4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
